* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background-color: rgb(22, 76, 100);
}
 
.main {
    border: 1px solid white;
    margin: 20px auto;
    width: 600px;
    height: 602px;
}
 
.main div {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
}
 
#red {
    background-color: red;
    position: relative;
    animation: red;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
 
@keyframes red {
    0% {top: -250px}
    100% {top: 0px}
}
 
 
#yellow {
    background-color: yellow;
    position: relative;
    animation: yellow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
 
@keyframes yellow {
    0% {opacity: 0}
    100% {opacity: 1}
}
 
 
#green {
    background-color: green;
    animation: green;
    position: relative;
    animation-duration: 4s;
    transform: rotateX(180deg);
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
 
}
 
@keyframes green {
    50% {transform: rotate(180deg);}
}
 
 
 
/*HINT -   transform: rotateY(0deg);*/
